.book-list {
    width: auto;
    /* background-color: #f8f9fa; */
    /* border: 1px solid #ced4da; */
    /* border-radius: 4px; */
    padding: 8px;
  }
  
  .book-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .book-list li {
    border: 1px solid #ced4da;
    padding: 8px;
    /* margin-bottom: 8px; */
  }
  
  .book-title {
    /* font-weight: bold; */
  }
  
  .author {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
  }
  
  .author-name {
    background-color: #ced4da;
    color: #fff;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 10px;
  }
  