.book-list {
    width: auto;
    padding: 8px;
  }
  
  .book-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .book-list li {
    border: 1px solid #ced4da;
    padding: 8px;

  }
  
  .book-title {

  }
  
  .author {

    justify-content: space-between;
    display: flex;
    font-size: 12px;
  }
  
  .author-name {
    background-color: #3d3e3f;
    color: #fff;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 10px;
  }
  